* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header
nav
.navbar-brand {
  color: #000;
  font-size: 24px;
}

header
nav
.nav-link {
  color: #000;
}

header
nav
.nav-link:hover {
  color: #58b727;
}

.card
.card-body {
  background-color: #1b4332;
  color: #fff;
}

.card-body
.card-title
a {
  text-decoration: none;
  color: #fff;
}

.card-body
.card-text {
  margin: 24px 0;
}

.card-body
.card-date-published {
  color: #f2f2f2;
  font-weight: lighter;
  margin: 10px 0;
  position: absolute;
  bottom: 0;
}