{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
      <title>About</title>
  </head>
  <body>
    <header>
      {% include 'blog/navbar.html' %}
    </header>
    <main>

    </main>
    {% comment %} <img src="{% static 'blog/images/vector.png' %}" class="img-fluid" id="vector"> {% endcomment %}
  </body>
</html>