{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'blog/css/blog_post.css' %}">
      <title>Outdoor Vibrations</title>
  </head>
  <body>
    <header>
      {% include 'blog/navbar.html' %}
    </header>
    <main>
      <img class="post-img img-fluid mx-auto" src="{{ post.image.url }}" alt="{{ post.title }}">

      <h1>{{ post.title }}</h1>

      <p class="date-published">Published: {{ post.date_published|date:"D d F Y" }}</p>

      <hr>

      <section>
        <p>{{ post.content|linebreaks }}</p>
      </section>

      <hr>

      <div class="author-container">
        <img src="{% static 'blog/images/author.jpeg' %}" class="author-img" >
        <p class="author-name">{{ post.author }}</p>
        <p class="author-bio">Cesar Jaramillo is a web developer and avid hiker. By day, he codes and by night, he hits the trails. With a love for both technology and nature, Cesar finds ways to combine his passions. Cesar approaches everything with a sense of humor and a love for a good challenge.</p>
      </div>

    </main>
  </body>
</html>