{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
      <title>Outdoor Vibrations</title>
  </head>
  <body>
    <header>
      {% include 'blog/navbar.html' %}
    </header>
    <main>
      <h2>{{ post.title }}</h2>
      <p>{{ post.content|linebreaks }}</p>
      <img src="{{ post.image.url }}" alt="{{ post.title }}">

    </main>
    <img src="{% static 'blog/images/vector.png' %}" class="img-fluid" id="vector">
  </body>
</html>