{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
      <title>Outdoor Vibrations</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Outdoor Vibrations</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog_cards' %}">Blogs</a>
              </li>
            </ul>
            <button class="btn btn-outline-success" type="submit">Subscribe</button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="left-container container">
        <h1>
          Connecting to Nature
        </h1>

        <p>Love hiking? Our blog has everything you need for your next adventure. From trails to gear, we've got you covered. Join us and discover the beauty of nature together!</p>

        <div class="btn-container">
          <a href="#" class="btn btn-primary">Join Now</a>
          <a href="#" class="btn btn-primary">Read Blog</a>
        </div>
      </div>
      <div class="right-container container">
        <img src="{% static 'blog/images/landing-pic.png' %}" class="img-fluid" alt="person with campfire">
      </div>
    </main>
    <img src="{% static 'blog/images/vector.png' %}" class="img-fluid" id="vector">
  </body>
</html>