{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
      <title>Outdoor Vibrations</title>
  </head>
  <body>
    <header>
      {% include 'blog/navbar.html' %}
    </header>
    <main>
      <div class="left-container container">
        <h1>
          Connecting to Nature
        </h1>

        <p>Love hiking? Our blog has everything you need for your next adventure. From trails to gear, we've got you covered. Join us and discover the beauty of nature together!</p>

        <div class="btn-container">
          <a href="{% url 'subscribe' %}" class="btn btn-primary">Join Now</a>
          <a href="{% url 'blog_cards' %}" class="btn btn-primary">Read Blog</a>
        </div>
      </div>
      <div class="right-container container">
        <img src="{% static 'blog/images/landing-pic.png' %}" class="img-fluid" alt="person with campfire">
      </div>
    </main>
    
    {% include 'blog/footer.html' %}
    {% comment %} <img src="{% static 'blog/images/vector.png' %}" class="img-fluid" id="vector"> {% endcomment %}
  </body>
</html>