{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% comment %} <link rel="stylesheet" href="{% static 'blog/css/index.css' %}"> {% endcomment %}
      <link rel="stylesheet" href="{% static 'blog/css/subscribe.css' %}">
      <title>Subscribe</title>
  </head>
  <body>
    <header>
      {% include 'blog/navbar.html' %}
    </header>
    <main>
      <div class="left-container container">
        <h1>
          Connect to Our Community
        </h1>
        <p>Stay up-to-date on all the latest from Outdoor Vibrations! Sign up for our email updates to get notified about new blog posts, special deals, and other exciting news. Plus, you'll be the first to know about any limited-time offers. Simply click the "Subscribe" button to join our email list.</p>
        <div class="form-container container">
          <form method='POST' action='.' class="form">
            
            {% csrf_token %}
    
            {% bootstrap_form form %}
    
            {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" size="md" %}
    
          </form>
        </div>
      </div>
      <div class="right-container container">
        <img src="{% static 'blog/images/landing-pic.png' %}" class="img-fluid" alt="person with campfire">
      </div>
    </main>
  </body>
</html>